<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/book/main">팔만고전경판</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/book/notice">공지사항 <span class="sr-only">(current)</span></a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/book/minum" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          출판사
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/book/minum">민음사</a>
          <a class="dropdown-item" href="/book/openbooks">열린책들</a>
          <a class="dropdown-item" href="/book/eulyoo">을유 문화사</a>
          <a class="dropdown-item" href="/book/penguin">펭귄 클래식</a>
          <a class="dropdown-item" href="/book/munhak">문학 동네</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/book/search">검색</a>
      <a class="nav-item nav-link" href="/book/community">커뮤니티</a>
      <a class="nav-item nav-link disabled" href="/book/maker">만든이</a>
    </div>
  </div>
</nav>


<center>
<p><h1><font color="DodgerBlue ">우리는 영남대 멋쟁이 사자처럼 6기 입니다!</font><h1></p>
<h3>- 서로 다른 전집들을 한번에 비교하자 -</h3>
옛 고전문학들을 디자인적으로 통일하여 내는 '세계문학전집' 출판사는 다양합니다.<br><br>
<img src="/책장.jpg" width="600px"><img><br><br>
똑같은 책이라도 번역가, 출판사에 따라 스타일이 다양한데, 그에 따라 선택할 폭이 넓어서 선택하기 힘든 경우도 있습니다.<br>
<p>팔만고전경판은 그런 선택을 도와주기 위해 특징들을 정리, 비교해줍니다.</p>
<h3>- 효율을 높이자 -</h3>
<img src="/books-stack.png" width=150><img>
<img src="/information.png" width=150><img>
<img src="/group.png" width=150><img>
<img src="/hourglass.png" width=150><img>
<br><br>
<p>고전에 대한 관심 증가</p>
<p>필요한 정보 취득</p>
<p>자유로운 커뮤니티</p>
<p>책을 고르는 시간 단축</p>
<p>이 모든 것을 한번에</p>
<h1>Enjoy Your Books With Us</h1>
<br>
<br>
<br>

<footer class="bottom">
    <span class="copyright">Copyright &copy; 영남대 멋쟁이사자처럼 2018</span>
</footer>

</center>


